<link href="//cdn.bootcss.com/highlight.js/9.12.0/styles/codepen-embed.min.css" rel="stylesheet">

<link href='//fonts.googleapis.com/css?family={{ .Site.Params.fontbody }}' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family={{ .Site.Params.fontheading }}' rel='stylesheet' type='text/css'>

<style>
body {
    font-family: '{{ replace .Site.Params.fontbody "+" " "}}';
}

.title, h1, h2, h3,
h4, h5, h6 {
    font-family: '{{ replace .Site.Params.fontheading "+" " "}}';
}
</style>