@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,700&subset=latin-ext');
 
.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6,
.title {
  font-family: 'Work Sans Bold', sans-serif;
  font-weight: 700;
  color:#222324;
}

.subtitle {
  font-family: 'Work Sans Light', sans-serif;
  font-weight: 300;
}

body {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
}

.section {
  background-color: #fff;
  padding: 20px 0px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0px 20px;
}