@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,700&subset=latin-ext');

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6,
.title {
  font-family: 'Work Sans Bold', sans-serif;
  font-weight: 700;
  color:#222324;
}

.subtitle {
  font-family: 'Work Sans Light', sans-serif;
  font-weight: 300;
}

body {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
}

.section {
  background-color: #fff;
  padding: 20px 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
}

#wrapper{
	margin: 0;
	padding: 0;
	border: 0;
	display: flex;
  position: relative;
  align-items: center;
  font-family: 'Work Sans', sans-serif;
}

#audioplayer{
	height: 60px;
}

#pButton{
    height:60px;
    border: none;
    background-size: 50% 50%;
    background-repeat: no-repeat;
    background-position: center;
		background:transparent;
    float:left;
}

.play::before {
  font-family: 'FontAwesome';
	font-size: 3em;
	font-weight: 900;
	color: black;
  top: 0;
  left: 0;
  content: "\f144";
	border-radius: 50%;
}

.pause::before {
  content: "\f28b";
  font-family: 'FontAwesome';
	font-size: 3em;
	font-weight: 900;
	color: black;
  top: 0;
  left: 0;
	border-radius: 50%;
}

.dl::before {
	height: 60px;
	content: "\f0c7";
  font-family: 'FontAwesome';
	font-size: 2em;
	font-weight: 900;
	color: black;
	top: 0;
  left: 0;
  margin-left: 10px;
	border-radius: 50%;
	text-decoration:none;
	border-bottom-style: none;
}
