@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,700&subset=latin-ext');

@font-face {
    font-family: 'charterbold_italic';
    src: url('webfonts/charter_bold_italic-webfont.eot');
    src: url('webfonts/charter_bold_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('webfonts/charter_bold_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'charterbold';
    src: url('webfonts/charter_bold-webfont.eot');
    src: url('webfonts/charter_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('webfonts/charter_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'charteritalic';
    src: url('webfonts/charter_italic-webfont.eot');
    src: url('webfonts/charter_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('webfonts/charter_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'charterregular';
    src: url('webfonts/charter_regular-webfont.eot');
    src: url('webfonts/charter_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('webfonts/charter_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6,
.title {
  font-family: 'Work Sans Bold', sans-serif;
  font-weight: 700;
  color: #222324;
}

.subtitle {
  font-family: 'Work Sans Light', sans-serif;
  font-weight: 300;
}

body {
  font-family: 'charterregular', sans-serif;
  font-weight: 400;
	background-color: #dcdcdc;
}

strong {
  font-family: 'charterbold';
  font-weight: normal;
  font-style: normal;
}

em {
  font-family: 'charteritalic';
  font-weight: normal;
  font-style: normal;
}

.section {
  background-color: #fff;
  padding: 20px 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
}

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #333;
  background: #f8f8f8;
}

#wrapper{
	margin: 0;
	padding: 0;
	border: 0;
	display: flex;
  position: relative;
  align-items: center;
  font-family: 'Work Sans', sans-serif;
}

#audioplayer{
	height: 40px;
}

#pButton{
    height:40px;
    border: none;
    background-size: 50% 50%;
    background-repeat: no-repeat;
    background-position: center;
		background:transparent;
    float:left;
}

.fa-play-circle-o, .fa-pause-circle-o {
  color: #42464c;
}

.fa-floppy-o {
  margin-left: 10px;
  color: #42464c;
  text-decoration:none;
	border-bottom-style: none;
  }
  
  
