@font-face {
    font-family: 'recursive';
    src: url('css/webfonts/Recursive_VF_1.52.woff2') format('woff2-variations');
    font-weight: 300 1000;
    font-display: swap;
}

@font-face {
    font-family: 'charter', sans-serif;
    font-style: normal;
    src: url('../fonts/charter_regular-webfont.woff') format('woff');
}

@font-face {
    font-family: 'charter', sans-serif;
    src: url('../fonts/charter_bold-webfont.woff') format('woff');
    font-weight: bold;
    font-display: swap;
}

@font-face {
    font-family: 'charter', sans-serif;
    src: local('charter'), url('../fonts/charter_italic-webfont.woff') format('woff');
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'charter', sans-serif;
    src: url('../fonts/charter_bold_italic-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}