// home stop colour
.fancy {
  color: #C3FBF4;
}

// custom fonts
@import url('https://fonts.googleapis.com/css2?family=Recursive:wght,CASL@300..800,0.5&display=swap'); 
@import url(https://fonts.googleapis.com/css2?family=Recursive:wght,MONO@1&display=swap);

@font-face {
    font-family: 'charter';
    src: url('webfonts/charter_regular-webfont.eot');
    src: url('webfonts/charter_regular-webfont.eot?#iefix') format('embedded-opentype');
    src: url('webfonts/charter_regular-webfont.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'charter';
    src: url('webfonts/charter_bold-webfont.eot');
    src: url('webfonts/charter_bold-webfont.eot?#iefix') format('embedded-opentype');
    src: url('webfonts/charter_bold-webfont.woff') format('woff');
    font-weight: bold;
    font-display: swap;
}

@font-face {
    font-family: 'charter';
    src: url('webfonts/charter_italic-webfont.eot');
    src: url('webfonts/charter_italic-webfont.eot?#iefix') format('embedded-opentype');
    src: url('webfonts/charter_italic-webfont.woff') format('woff');
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'charter';
    src: url('webfonts/charter_bold_italic-webfont.eot');
    src: url('webfonts/charter_bold_italic-webfont.eot?#iefix') format('embedded-opentype');
    src: url('webfonts/charter_bold_italic-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

html {
  font-family: 'Recursive', sans-serif;
  color: #222324;
}

.post__content {
  font-family: 'charter', sans-serif;
  font-weight: 400;
	text-rendering: optimizeLegibility;
	line-height: 1.625;
	font-size: 1rem;
}

.post__content > h1,h2,h3,h4,h5 {
  font-family: 'Recursive', sans-serif;
}

// syntax highlighting
.hljs {
  font-family: 'Recursive', monospace;
  font-weight: 300;
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #333;
  background: #f8f8f8;
}

// image width
.post img {
  max-width: 100%;
}

// audio player
#audioplayer { 
	display: flex;
	height: 40px;
  position: relative;
  align-items: center;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-family: 'Work Sans', sans-serif;
}

#pButton {
    height: 40px;
    border: none;
    background-size: 50% 50%;
    background-repeat: no-repeat;
    background-position: center;
		background: transparent;
    float: left;
    color: #42464c;
    margin-right: 0.5rem;
}

#timeElapsed, #duration {
  width: 50px;
  max-width: 100px;
}

.fa-floppy-o {
  margin-left: 0.5rem;
  color: #42464c;
  text-decoration: none;
	border-bottom-style: none;
  }