<!DOCTYPE html>
<html>

{{ $file := .Get 0}}

  
<!--HTML5 audio-->
	<audio id="track" preload="metadata">
		<source src="{{$file}}?raw=1">
	</audio>

	<div id="wrapper">
		<!--Audio Player Interface-->
		<div id="audioplayer">
			<button id="pButton" class="play"></button>
		</div>
		<span id="timeElapsed"></span>
		<span>&nbsp;/&nbsp;</span>
		<span id="duration"></span>
		<a href="{{$file}}?dl=1" class="dl" style="text-decoration:none;border-bottom-style: none;"></a>
	</div>

<script type="text/javascript">
var track = document.getElementById('track'); // id for audio element
var pButton = document.getElementById('pButton'); // play button
var timeElapsed = document.getElementById('timeElapsed'); // elapsed time
var duration = document.getElementById('duration'); // track duration

// play button event listenter
pButton.addEventListener("click", play);

// Play and Pause
function play() {
    // start music
    if (track.paused) {
        track.play();
        // remove play, add pause
        pButton.className = "";
        pButton.className = "pause";
    } else { // pause music
        track.pause();
        // remove pause, add play
        pButton.className = "";
        pButton.className = "play";
    }
}

// duration
function runWhenLoaded() { 
  duration.innerHTML = formatTime(track.duration); 
  
}

if (!track.readyState) { 
    track.addEventListener("loadedmetadata", runWhenLoaded);
} else {
    runWhenLoaded.call(track);
}

// current time elapsed
setInterval(function() {
    timeElapsed.textContent = formatTime(track.currentTime);
}, 100);

// nicer time formating
function formatTime(s, m) {
    s = Math.floor( s );
    m = Math.floor( s / 60 );
    m = m >= 10 ? m : '0' + m;
    s = Math.floor( s % 60 );
    s = s >= 10 ? s : '0' + s;
    return m + ':' + s;
}

// getPosition
// Returns elements left position relative to top-left of viewport
function getPosition(el) {
    return el.getBoundingClientRect().left;
}
</script>

</html>